name: 剪枝后重复率检查

on:
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - run: pip install requests~=2.31.0
      - name: 运行检查
        run: python check_duplicate.py
